.auth_container {
  margin-top: 80px;
  margin-bottom: 40px;
}

#auth {
  width: 350px;
  margin: 0 auto;
  background-color: #242526;
  padding: 20px;
  border-radius: 8px;
  box-sizing: border-box;
}

#auth h1 {
  font-size: 30px;
}

#auth > div {
  margin: 25px 0;
}

#auth > div input {
  width: 100%;
}

@media only screen and (max-width: 767px) {
  #auth {
    width: 100%;
  }
  .auth_container {
    margin-top: 30px;
  }
}
