.loader {
  margin: 10px 20px;
}

.require_auth_error_msg {
  color: #ff0000;
  font-family: "FiraGO Bold";
  text-transform: lowercase;
}

.support_info_wrapper {
  display: flex;
}

.support_info_title {
  display: flex;
  margin: 0 auto;
  width: 100%;
  height: 80px;
  background: red;
  margin-top: -80px;
  z-index: 1;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #000000 90%);
  align-items: center;
}

.support_info_title h1 {
  font-size: 30px;
  font-family: "FiraGO Bold";
}

.container {
  width: 80%;
  margin: 0 auto;
}

@media only screen and (max-width: 760px) {
  .container {
    width: 95%;
  }
}

.support_general_info {
  margin-top: 40px;
}

.support_general_info > td:first-child {
<<<<<<< HEAD
  text-transform: capitalize;
=======
  text-transform: capitalize;	
>>>>>>> baf5cb1fb065520a0b448912677f377c7f1e43c5
}

.support_general_info > div {
  margin: 30px 0;
}
.support_general_info h3 {
  font-size: 22px;
  font-family: "FiraGO Bold";
  padding-bottom: 15px;
}

.maps_placeholder {
  height: 120px;
}

.skeleton_loader {
  margin: 0 auto !important;
  position: relative;
  top: -70px;
}

.post_view_table {
  margin: 20px 0;
  padding: 0;
  width: 100vw;
  table-layout: fixed;
  color: #fff;
  vertical-align: top;
}

.post_view_table th,
td {
  word-wrap: break-word;
}

.post_view_table > * > * {
  width: 50%;
  padding: 1rem 0.5rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;

  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
.post_view_table > * a {
  color: #fff !important;
}

.post_view_table > * > *:first-child {
  font-family: "FiraGO Bold";
}

.post_view_table > tr:nth-of-type(even) > * {
  background: #151616;
}

.post_view_table > tr:nth-of-type(odd) > * {
  background: #242526;
}
