.home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.home > div:first-child {
  flex: 1;
}

.home > div:nth-child(2) {
  flex: 5;
}

.home > div:last-child {
  flex: 1;
}

.home_greeting {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home_greeting h1 {
  font-size: 50px;
  text-align: center;
  font-family: "FiraGO Bold";
}

.home_greeting > span {
  margin: 30px 0;
}

.home_auth {
  margin-top: 30px;
}

.home_auth > a {
  color: #fff;
  background: #005bbb;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 0 10px;
  font-size: 20px;
}

@media only screen and (max-width: 768px) {
  .home_auth > a {
    margin: 20px 0;
    display: block;
  }
  .home_greeting {
    width: 90%;
    margin: 0 auto;
  }
  .home_greeting h1 {
    font-size: 35px;
  }
}
